
.git/
.idea/

build/
cmake-build-debug/
thirdparty/
trained_models/
logs/
vocabulary/

**/global_cmvn
**/train.json
**/valid.json

**/file_dir*
**/output_dir*
**/__pycache__/
**serialization_dir/

**/*.wav
